{% extends 'base.html.twig' %}

{% block body %}

    <p>Name : {{ event.name }}</p>
    <p>Create by : {{ event.organisator.pseudo }}</p>
    <p>Date & Hour : {{ event.startingDate | date('d/m/Y - h:m' ) }}</p>
    <p>Inscription limit : {{ event.limitInscribeDate | date('d/m/Y & h:m' )  }}</p>
    <p>Max affluence: {{ event.maxInscriptionsNumber }} persons</p>
    <p>Duration : {{ event.duration }} minutes</p>
    <p>Description & informations : {{ event.informations }}</p>
    <p>Organisator campus : {{ event.campus }}</p>
    <div>
        <p>Street: {{ event.city.street }}</p>
        <p>City : {{ event.city.name }}</p>
        <p>Postcode : {{ event.city.postcode }}</p>
    </div>

{#    <p>Latitude :  //TODO Faisable pour une recherche d'adresse precise uniquement</p>#}
{#    <p>longitude : //TODO Faisable pour une recherche d'adresse precise uniquement</p>#}

    <h4>Participants : </h4>

    {% set countParticipants = 0 %}
    {% for participant in event.participants %}
        {% set countParticipants = countParticipants + 1 %}
        <p>{{ participant.pseudo }}</p>
    {% endfor %}
    <p>Actual affluence for this event: {{ countParticipants }}</p>

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_modify', {'id': event.id }) }}">
            <button value="modify">Modify the event</button>
        </a>
    {% endif %}

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_delete', {'id': event.id }) }}">
            <button value="delete">Delete</button>
        </a>
    {% endif %}

    {% if app.user.id %}
        {% if (event.etat.id is same as 2) and (countParticipants < event.maxInscriptionsNumber) %}
            <a href="{{ path('event_registration', {'event': event.id}) }}">
                <button value="registration">Registration to event</button>
            </a>
        {% endif %}
    {% endif %}

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_remove', {'event': event.id}) }}">
            <button value="remove">Unsubscribe to event</button>
        </a>
    {% endif %}

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_close', {'id': event.id }) }}">
            <button value="close">Close the event</button>
        </a>
    {% endif %}

{% endblock %}

