{% extends 'base.html.twig' %}

{% block body %}

    <p>Name : {{ event.name }}</p>
    <p>Create by : {{ event.organisator.pseudo }}</p>
    <p>Date & Hour : {{ event.startingDate | date('d/m/Y - h:m' ) }}</p>
    <p>Inscription limit : {{ event.limitInscribeDate | date('d/m/Y & h:m' )  }}</p>
    <p>Duration : {{ event.duration }} minutes</p>
    <p>Description & informations : {{ event.informations }}</p>
    <p>Campus : {{ event.campus }}</p>
    <p>Place : </p>
    <p>Street : </p>
    <p>CP : </p>
    <p>Latitude : </p>
    <p>longitude : </p>

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_modify', {'id': event.id }) }}">
            <button value="modify">Modify the event</button>
        </a>
    {% endif %}

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_delete', {'id': event.id }) }}">
            <button value="delete">Delete</button>
        </a>
    {% endif %}

    {% if app.user.id %}
        {% if event.etat.Id is same as 2 %}

        <a href="{{ path('event_registration', {'event': event.id}) }}">
            <button value="registration">Registration to event</button>
        </a>

            {% endif %}
    {% endif %}

    {% if app.user.pseudo %}

        <a href="{{ path('event_remove', {'event': event.id}) }}">
            <button value="remove">Unsubscribe to event</button>
        </a>

    {% endif %}

    {% if app.user.pseudo is same as (event.organisator.pseudo) %}
        <a href="{{ path('event_close', {'id': event.id }) }}">
            <button value="close">Close the event</button>
        </a>
    {% endif %}

    <h4>Participants : </h4>

    {% for participant in event.participants %}
        <p>{{ participant.pseudo }}</p>
    {% endfor %}

{% endblock %}

