{% extends 'base.html.twig' %}

{% block body %}

    <p>Name : {{ event.name }}</p>
    <p>Create by : {{ event.organisator.pseudo }}</p>
    <p>Date & Hour : {{ event.startingDate | date('d/m/Y - h:m' ) }}</p>
    <p>Inscription limit : {{ event.limitInscribeDate | date('d/m/Y & h:m' )  }}</p>
    <p>Duration : {{ event.duration }} minutes</p>
    <p>Description & informations : {{ event.informations }}</p>
    <p>Campus : {{ event.campus }}</p>
    <p>Place : </p>
    <p>Street : </p>
    <p>CP : </p>
    <p>Latitude : </p>
    <p>longitude : </p>

    <h4>Participants : </h4>

{% endblock %}

