<nav class="nav">

    <a class="nav-item" href="{{ path('main_home') }}">Home</a>

    {% if app.user %}
        <a class="nav-item">My profile</a>
        <a class="nav-item" href="{{ path('app_logout') }}">Log out</a>

        {% if app.user.administrator %}
            <a class="nav-item" href="{{ path('app_register') }}">Register a user</a>
            <a class="nav-item">Cities</a>
            <a class="nav-item">Campus</a>
            <a class="nav-item" href="{{ path('admin') }}">Dashboard</a>
        {% endif %}
    {% endif %}

    {% if not app.user %}
        <a class="nav-item" href="{{ path('app_login') }}">Log in</a>
    {% endif %}

</nav>