{% extends 'base.html.twig' %}

{% block body %}

    {% if not app.user %}
        <h2>Welcome to sortir.com</h2>
        <h4>If you want to see the events organiszed by our KSC lovers<br> please connect you to our flying network!</h4>
    {% endif %}

    {% if app.user %}
        <h2> Welcome back {{ app.user.firstname }} !</h2>
        <h3>Events list</h3>
        <section>
            {% for event in events %}
                <article>

                    <h4>{{ event.name }}</h4>
                    <p>Organised by : <a href="{{ path('user_edit', {'id': event.organisator.id }) }}"> {{ event.organisator.pseudo }}</a></p>
                    <p>Campus : {{ event.organisator.campus }}</p>
                    <p>Date & Hour : {{ event.startingDate | date('d/m/Y - h:m' ) }}</p>
                    <p>Inscription limit : {{ event.limitInscribeDate | date('d/m/Y & h:m' )  }}</p>
                    <p>Max affluence : {{ event.maxInscriptionsNumber }} persons</p>
                    <p>Description : {{ event.informations }}</p>
                    <p>Status : {{ event.etat.libelle }}</p>
                </article>
            {% endfor %}
        </section>

        <a href="{{ path('event_create') }}">
            <button value="create">Create an event</button>
        </a>

    {% endif %}







    {% if app.user %}
        <!-- créer lien vers create event -->
    {% endif %}

{% endblock %}