{% extends 'base.html.twig' %}

{% block body %}

    {% if not app.user %}
        <h2>Welcome to your new favorite website!</h2>
        <h5>If you want to see the events organiszed by our KSC lovers, please connect you to our flying network!</h5>
    {% endif %}

    {% if app.user %}
        <h2> Welcome back {{ app.user.firstname }} !</h2>
        <h3>Events list</h3>
        <section>
            {% for event in events %}
                <article>
                    <h4>{{ event.name }}</h4>
                    <p>Start : {{ event.startingDate | date }}</p>
                    <p>Limit date for inscription : {{ event.limitInscribeDate | date }}</p>
                    <p>Max : {{ event.maxInscriptionsNumber }}</p>
                    <p>Event description : {{ event.informations }}</p>
                </article>
            {% endfor %}
        </section>

        <a href="{{ path('event_create') }}">
            <button value="create">Create an event</button>
        </a>

    {% endif %}







    {% if app.user %}
        <!-- créer lien vers create event -->
    {% endif %}

{% endblock %}