{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome {{ app.user.pseudo }} !</h1>
    <script>
        function display_image(src, width, height, alt) {
            var a = document.createElement("img");
            a.src = "{{ asset('pictures/photos/' ~user.image )}}";
            // a.width = 200;
            a.height = 150;
            a.alt = "Avatar";
            document.body.appendChild(a);
        }
        display_image('JavaScript.jpg',
            276,
            110,
            'JavaScriptImage');
    </script>


        {#src="{{ asset('pictures/photos/' ~user.image )}}" alt="image-de-profil" height="200" </script>#}
        <p>Firstname : {{ user.firstname }}</p>
        <p>Lastname : {{ user.lastname }}</p>
        <p>Pseudo : {{ user.pseudo }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Phone number : {{ user.phone }}</p>
        <p>Activ member : {{ user.activ }}</p>

        {% if app.user.id is same as user.id %}
            <button type="submit" ><a href="{{ path('user_edit', {'id': app.user.id }) }}">Modify </a></button>
        {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

