{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="title">Welcome {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    <script>
        function display_image(src, width, height, alt) {
            let a = document.createElement("img");
            a.src = "{{ asset('pictures/photos/' ~user.image )}}";
            // a.width = 200;
            a.height = 150;
            a.alt = "Avatar";
            document.body.appendChild(a);
        }
        display_image('JavaScript.jpg',
            276,
            110,
            'JavaScriptImage');
    </script>
    {{ include('user/_form.html.twig',     {'button_label': 'Update'}) }}


{#    <a href="{{ path('user_index') }}">Home</a>#}

{% endblock %}
